---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <main class="flex min-h-screen">
    <h1 class="font-bold text-2xl m-auto">Page not found</h1>
  </main>
</Layout>
